VITE_URL_SITE=https://www.pousadalusitania.com.br/
VITE_URL_TOUR_360=https://pousadalusitania.com.br/tour/
VITE_URL_ACOMODACOES=https://www.pousadalusitania.com.br/acomodacoes.php
VITE_URL_GALERIA=https://www.pousadalusitania.com.br/galeria.php#galeria
VITE_URL_RESERVAS=https://sbreserva.silbeck.com.br/pousadalusitania/pt-br/
VITE_URL_MAPS=https://maps.app.goo.gl/CAsW67UawfFypt19A
VITE_URL_WHATSAPP=https://wa.me/5527998552997
VITE_WIFI_REDE=Lusitania
VITE_WIFI_SENHA=@lusitania
VITE_CAFE_DA_MANHA=07:30 as 10:00
VITE_HORARIO_SALA_TV=08:00 as 23:00
VITE_HORARIO_PISCINA=08:00 as 23:00
VITE_HORARIO_SALA_JOGOS=08:00 as 23:00
VITE_HORARIO_AREA_PISCINA=08:00 as 23:00
VITE_HORARIO_SAUNA=17:30 as 20:00
VITE_ARRUMACAO_LIMITE=14h
VITE_CHECKOUT=12h
VITE_CHECKOUT_ESTENDIDO_VALOR=R$ 45,00 por hora
VITE_CHECKOUT_ESTENDIDO_REGRA=Apos 16h, sera cobrado o valor de uma diaria adicional.
VITE_RECEPCAO_TELEFONE=(27) 99855-2997
VITE_RECEPCAO_ATENDIMENTO=07:00 as 22:00
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
